<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Attack Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ my_style }}">
</head>
<body>
<form action="/knn_form">
    <button type="submit" class="predictbtn">
        Predict With K Nearest Neighbors Algorithm
    </button>
</form>
<form action="/gaussian_form">
    <button type="submit" class="predictbtn">
        Predict With Gaussian Naive Bayes
    </button>
</form>
<form action="/logreg_form">
    <button type="submit" class="predictbtn">
        Predict With Logistic Regression
    </button>
</form>
<form action="/rf_form">
    <button type="submit" class="predictbtn">
        Predict With Random Forest
    </button>
</form>
<form action="/perceptron_form">
    <button type="submit" class="predictbtn">
        Predict With Perceptron
    </button>
</form>
<form action="/sgd_form">
    <button type="submit" class="predictbtn">
        Predict With Stochastic Gradient Descent
    </button>
</form>
</body>
</html>